<html>

<head>
	<title>Plans | Planitary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/plans.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<body>

	<!-- App Header -->
	<header id="app-header">
		<p id="app-title">Planitary</p>
	</header>

	<!-- App Main Content -->
	<main id="app-content" class="container-fluid">

		<!-- Groups -->
		{{#each groups}}
		<div class="card">
			<header class="card-header">
				{{name}}
			</header>
			<div class="card-body">
				<!-- Suggested Plans -->
				{{#each plans}}
				<a class="suggestion" href="#">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">{{month}} {{day}}, {{year}}</h6>
							<p class="card-text">{{friends.length}} friends going</p>
						</div>
					</div>
				</a>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</main>

	<!-- App Navigation -->
	<footer id="app-nav">
		<nav class="navbar">
			{{#each pages}}
			<a href="{{link}}">
				<img src="/icons/calendar.svg" alt="{{title}} Page">
				<p>{{title}}</p>
			</a>
			{{/each}}
		</nav>
	</footer>
</body>
</html>