{{!-- Layout for the Events page --}}
<div class="event">
	<div class="eventinfo">
		<div class="eventinfo-time">
			<h2>{{title}}</h2><h6>{{groupname}}</h6>
		</div>
		<div class="eventinfo-label">
			<p class="eventinfo-date">{{month}} {{day}}</p>
			<p class="eventinfo-range"> {{startt}} - {{endt}}</p>
		</div>
		<div class="eventinfo-description">
			<h6 class="label">DESCRIPTION</h6>
			<p>{{description}}</p>
		</div>
	</div>
</div>