{{!-- Layout for the Events page --}}
<div class="event">
	<header>
		<h3>{{title}}</h3>
	</header>

	<div class="eventinfo">
		<div class="eventinfo-time">
			<p class="eventinfo-date">{{month}} {{day}}</p>
			<p class="eventinfo-range"> {{startt}} - {{endt}}</p>
		</div>
		<div class="eventinfo-description">
			<h6>Description:</h6>
			<p>{{description}}</p>
		</div>
		<div class="eventinfo-going">
			{{friends.length}} members going
		</div>
	</div>
</div>