{{!-- layout/group-suggestions --}}
  <div class="carousel">
    <div class="carousel-wrapper">
      <div>
        <ol class="carousel-content">
          <!-- Suggested Plans -->
          {{#each plans}}
          <li>
            <a class="plan-link" href="/eventCreation/{{../gid}}/{{id}}">
              <div class="plan">
                <header>
                  <h6>{{month-string}} {{day}}</h6>
                </header>
                <div class="plan-body">
                  <p class="plan-range">
                    <span class="startt">{{start_string}}</span> - <span class="endtt">{{end_string}}</span>
                  </p>
                  <p class="plan-avail">{{friends.length}} friends available</p>
                </div>
              </div>
            </a>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>