{{#> layouts/app page-title="Groups" sub=name back-page="groups"}}

	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="/css/groups.css">
	{{/inline}}

	{{#*inline "main-block"}}
		<div class="content-card">
			<header>
				<h3>Suggested Plans</h3>
			</header>
			<div>
				{{> includes/group-plans gid=id}}
			</div>
		</div>

		<div class="content-card">
			<header>
				<h3>Members</h3>
			</header>
			<div class="content-card-body memberlist">
				{{#if joined}}
					<p>{{user.firstname}} {{user.lastname}}</p>
				{{/if}}
				{{#each memberinfo}}
					<p>{{name}}</p>
				{{/each}}
			</div>
		</div>

		<div class="content-card">
			<div class="content-card-body">
				{{#if joined}}
				<a class="btn btn-block btn-secondary" href="/joingroup/{{id}}">Leave Group</a>
				{{else}}
				<a class="btn btn-block btn-primary" href="/joingroup/{{id}}">Join Group</a>
				{{/if}}
			</div>
		</div>
	{{/inline}}

{{/layouts/app}}