{{!-- layouts/app.handlebars --}}

{{#> layouts/base title=page-title sub-title=sub}}

  {{#*inline "head-block"}}
  <link rel="stylesheet" type="text/css" href="/css/general.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/group-plans.css">

    {{#> head-block}}
      {{!-- App page specific head content --}}
    {{/head-block}}

  {{/inline}}

  {{!-- App Header --}}
  {{#*inline "header-block"}}
  <header id="app-header">
    <div>
      {{#if back-page}}
      <a class="back-button" href="/{{back-page}}">
        <i style="width:1rem;height:1rem" data-feather="arrow-left"></i>
        Back
      </a>
      {{/if}}
      <p class="app-title">
        {{#if sub-title}}{{sub-title}}{{else}}{{#if title}}{{title}}{{/if}}{{/if}}
      </p>
    </div>
  </header>
  {{/inline}}

  {{#*inline "main-block"}}
    <main id="app-content">
      {{#> main-block}}
        {{!-- App page specific main content --}}
      {{/main-block}}
    </main>
  {{/inline}}

  {{!-- App Footer --}}
  {{#*inline "footer-block"}}
  <nav id="app-nav" class="navbar">
    {{#each pages}}
    <div class="navbar-item">
      <a class="navbar-link {{#if_eq title ../page-title}}active{{/if_eq}}" href="{{link}}">
        <i data-feather="{{icon}}"></i>
        <p>{{title}}</p>
      </a>
    </div>
    {{/each}}
  </nav>
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script>feather.replace()</script>
    {{#> scripts-block}}
    {{/scripts-block}}
  {{/inline}}

{{/layouts/base}}